// colors

$colorRed: #ce2c52;
$colorText: #282828;
$colorBlack: #2c303d;
$colorBlack2: #474747;
$colorGreen: #8ae6cf;
$colorBg: #f6f6f6;
$colorGray: #ababab;
$colorGray2: #6b6e77;
$colorBlue: #2c87ce;
$colorArrow: #949494;

// fonts
$fontSans: 'Open Sans', Arial, sans-serif;
$fontOswald: 'Oswald', Arial, sans-serif;

// sizes

$tablet: 715px;
$desktop: 934px;